<div class="col-lg-7 mx-auto mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center">New post</h1>
      <hr class="mb-4">
      <%= render "form", post: @post %>
      <br>
      <div>
        <%#= link_to "Back to posts", posts_path, class:"btn btn-primary mt-2 mb-2" %>
      </div>
    </div>
  </div>
</div>